<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/app.css" />

    <title>{% block title %}Main {% endblock %} - Boggle</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/boggle">Boggle</a>
    </nav>

    {% block content %} {% endblock %}
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/static/app.js"></script>
</html>
